/*// Custom CSS
// ===========*/

/*
// @white: #FFFFFF;
// @grey: #D7DADB;
// @blueLight: #6DBCDB;
// @blueDark: #2C3E50;
// @red: #FC4349;
*/

.magic {
	background-color: #2C3E50;
}

#chart h4 {
	color: #6DBCDB;
}

#chart h6 {
	color:  #6DBCDB;
}

#chart2 {
	background-color: #FFFFFF;
}

#chart2 h4 {
	color: #FC4349;
}

#chart2 h6 {
	color:  #FC4349;
}

