/*// Custom CSS
// ===========*/

/*
// @white: #FFFFFF;
// @grey: #D7DADB;
// @blueLight: #6DBCDB;
// @blueDark: #2C3E50;
// @red: #FC4349;
*/

.magic, body {
	background: #6DBCDB;
}

#chart {
	background-color: #2C3E50;
}

#chart2 {
	background-color: #FFFFFF;
}

#chart h4,
#chart h6 {
	color: #6DBCDB;
}

#chart2 h4,
#chart2 h6 {
	color: #FC4349;
}

